.blogPosts {
}
.blog {
  &__content {
  }
  &__grid {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(14.4rem, 1fr));
    grid-template-columns: 1fr;
    gap: 1.8rem;

    @include breakpoints-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoints-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__item {
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    overflow: hidden;
  }
  &__image {
    height: 12.6rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__textcontent {
    background-color: $veryLightGrey;
    padding: 1.8rem 1.8rem 2.5rem 1.8rem;
    color: $grayishBlue;
    @include breakpoints-up(medium) {
      padding: 1.8rem 1.5rem;
    }
    @include breakpoints-up(large) {
    }
  }
  &__author {
    font-size: 0.625rem;
    margin-bottom: 0.9rem;
  }
  &__title {
    font-size: 1.3rem;
    color: $nitroDarkBlue;
    margin-bottom: 0.7rem;
  }
  &__description {
    font-size: 0.7rem;
  }
}
