@import "mixins";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: $font-small;
  font-weight: 500;
  min-height: 300vh;

  &.scrollBlocked {
    overflow: hidden;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}
.container {
  max-width: 90rem;
  margin: 0 auto;
  &--paddingTop {
    padding-top: 1.5rem;
  }
  &--paddingBottom {
    padding-bottom: 1.5rem;
  }
  &--paddingLeft {
    padding-left: 1.5rem;
  }
  &--paddingRight {
    padding-right: 1.5rem;
  }
  &--paddingAll {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  &--paddingX {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  &--paddingY {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

h1,
h2,
h3 {
  font-weight: 395;
  color: $nitroDarkBlue;
  line-height: 1.4;
  margin-top: 0px;
}

h1 {
  font-size: 2.7rem;
  margin-bottom: 1.7rem;
  @include breakpoints-up(large) {
    font-size: $font-large;
  }
}

h2 {
  // @include breakpoints-up(large) {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;

  // }
  @include breakpoints-up(large) {
    font-size: 2.3rem;
    margin-bottom: 2.9rem;
    // margin-top: 4.9rem;
  }
}

p {
  line-height: 1.6;
  font-weight: 295;
  font-size: 1rem;
  color: $nitroDarkBlue;
  margin-bottom: 2.3rem;
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

// buttons
button,
.button {
  padding: 1rem 1.9rem;
  border-radius: 5px;
  background: $buttonLittleBlue;
  border: 0;
  cursor: pointer;
  color: $veryLightGrey;
  font-weight: bold;
  font-size: $font-medium;
}

// mobile and desktop responsive and visibilty
.visibility-hide-for-mobile {
  @include breakpoints-down(medium) {
    display: none;
  }
}

.visibility-hide-for-desktop {
  @include breakpoints-up(large) {
    display: none;
  }
}
