html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: $font-medium;
  font-weight: 300;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

// buttons
button,
.button {
  padding: 1rem 1.9rem;
  border-radius: 5px;
  background: $buttonBlue;
  border: 0;
  cursor: pointer;
  color: $white;
  font-weight: bold;
}
