.header {
  nav {
    padding: 24px;
  }
  &__banksewaLogo {
    img {
    }
  }

  &__hamburgerMenu {
    > span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: $awesomeDark;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }

  &__link {
    a {
      font-size: $font-small;
      color: $grayishBlue;
    }
  }
}
