.header {
  &.open {
    .overlay {
      display: block;
    }
    .header__hamburgerMenu {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0;
    //   background-color: $defaultBlue;
    background-image: linear-gradient($defaultBlue, transparent);
  }

  nav {
    position: relative;
    background-color: $white;
    padding-left: 1.06rem;
    padding-right: 1.06rem;
  }
  &__banksewaLogo {
    img {
      width: 60%;
    }
  }

  &__hamburgerMenu {
    > span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: $awesomeDark;
      transition: all 350ms ease-in-out;
      transform-origin: 4px 2px;
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &__navmenu {
    background: $white;
    position: absolute;
    z-index: 1111;
    margin: 2.7rem 1.6rem;
    padding: 2rem;
    border-radius: 30px;
    width: calc(100% - 7rem);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;

    a {
      display: block;
      color: $awesomeDark;
      padding: 0.7rem;
      text-align: center;
    }
  }

  &__link {
    a {
      position: relative;
      font-size: $font-small;
      font-style: bold;
      color: $grayishBlue;
      transition: color 350ms ease-in-out;

      //   &:first-child {
      //     margin-left: -90px;
      //   }
      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: $defaultBlue;
        opacity: 0;
        transition: opacity 350ms ease-in-out;
      }

      &:hover {
        font-style: bold;
        color: $nitroDarkBlue;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__login {
    font-size: $font-medium;
    margin-left: 60px;
    margin-right: 20px;
    &:hover {
      background: $defaultBlue;
    }
  }

  &__register {
    font-size: $font-medium;
    margin-right: 50px;
    transition: opacity 350ms ease-in-out;
    &:hover {
      background: $defaultBlue;
    }
  }
}
