.hero {
  background-color: $white;

  .container {
    @include breakpoints-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-image: url(../../assets/blob.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 19rem;

    @include breakpoints-up(medium) {
      min-height: 35rem;
      background-position: center 50%;
    }

    @include breakpoints-up(large) {
      flex: 3;
      order: 2;
      height: 38rem;
      background: none;
      //background-image: url(../../assets/blob.svg);
      //background-position: left center;
    }

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background-image: url(../../assets/mockups.png);
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: center center;

      @include breakpoints-up(medium) {
        // width: 105%;
        // height: 11%;
        // background-position: center 190%;
        // background-size: 92%;
      }

      @include breakpoints-up(xmedium) {
        // width: 115%;
        // height: 117%;
        // background-size: 105%;
        // background-position: center 190%;
        // padding: 20rem;
        // left: 1%;
      }

      @include breakpoints-up(large) {
        width: 91%;
        height: 99%;
        background-size: 105%;
        background-position: center 180%;
        padding: 21.2rem;
        // left: 1%;
      }
    }
    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background-image: url(../../assets/blob.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoints-up(medium) {
        background-size: 92%;
      }
      @include breakpoints-up(large) {
        height: 105%;
        width: 105%;
      }
    }
  }
  &__content {
    text-align: center;

    @include breakpoints-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }
  }
  &__register {
    &:hover {
      background-color: $defaultBlue;
    }
  }
}
