.services {
  background-color: $backBlue;

  text-align: center;

  @include breakpoints-up(medium) {
    text-align: left;
  }

  &__quotes {
    margin-bottom: 3.75rem;

    @include breakpoints-up(large) {
      width: 55%;
    }
  }
  &__grid {
    @include breakpoints-up(medium) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    padding: 1rem;
    @include breakpoints-up(medium) {
      flex: 1 0 50%; // flec grow ,flex shrink, flex basis(default width tha the item is going to have)
    }
    @include breakpoints-up(large) {
      flex: 1;
    }
  }
  &__image {
    margin-bottom: 1.8rem;

    @include breakpoints-up(large) {
      margin-bottom: 2.7rem;
    }
  }
  &__title {
    font-size: 0.3rem;
    font-weight: 400;
    color: $nitroDarkBlue;
    letter-spacing: 0.1px;
    line-height: 1.4;
    margin-bottom: 1.5rem;

    @include breakpoints-up(large) {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
  &__description {
    font-size: 0.7rem;
    line-height: 1.5;
  }
}
