// colors variables
$awesomeDark: rgb(94, 93, 93);
$lightBlue: #5680e9;
$lightGreen: #7dc2ad;
$defaultBlue: #000b76;
$backBlue: #d4e2f3;
$nitroDarkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$veryLightGrey: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$buttonBlue: #98d4e7;
$buttonLittleBlue: #77c5dd;

// Fonts variables
$font-medium: 1.3rem;
$font-small: 0.99rem;
