.background-fade-register {
  visibility: hidden;
}

@-webkit-keyframes background-fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes background-fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.background-fade-in {
  -webkit-animation: background-fade-in 350ms ease-in-out forwards;
          animation: background-fade-in 350ms ease-in-out forwards;
}

@-webkit-keyframes background-fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes background-fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.background-fade-out {
  -webkit-animation: background-fade-out 450ms ease-in-out forwards;
          animation: background-fade-out 450ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: 0.99rem;
  font-weight: 500;
}

body.scrollBlocked {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.container--paddingTop {
  padding-top: 1.5rem;
}

.container--paddingBottom {
  padding-bottom: 1.5rem;
}

.container--paddingLeft {
  padding-left: 1.5rem;
}

.container--paddingRight {
  padding-right: 1.5rem;
}

.container--paddingAll {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--paddingX {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.container--paddingY {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

h1,
h2,
h3 {
  margin-top: 0px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  padding: 1rem 1.9rem;
  border-radius: 5px;
  background: #77c5dd;
  border: 0;
  cursor: pointer;
  color: #fafafa;
  font-weight: bold;
  font-size: 1.3rem;
}

@media (max-width: 63.9em) {
  .visibility-hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .visibility-hide-for-desktop {
    display: none;
  }
}

.header.open .overlay {
  display: block;
}

.header.open .header__hamburgerMenu > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__hamburgerMenu > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__hamburgerMenu > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0px;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000b76), to(transparent));
  background-image: linear-gradient(#000b76, transparent);
}

.header nav {
  position: relative;
  background-color: white;
  padding-left: 1.06rem;
  padding-right: 1.06rem;
}

.header__banksewaLogo img {
  width: 60%;
}

.header__hamburgerMenu > span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #5e5d5d;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  -webkit-transform-origin: 4px 2px;
          transform-origin: 4px 2px;
}

.header__hamburgerMenu > span:not(:last-child) {
  margin-bottom: 3px;
}

.header__navmenu {
  background: white;
  position: absolute;
  margin: 2.7rem 1.6rem;
  padding: 2rem;
  border-radius: 30px;
  width: calc(100% - 7rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 2rem;
}

.header__navmenu a {
  display: block;
  color: #5e5d5d;
  padding: 0.7rem;
  text-align: center;
}

.header__link a {
  position: relative;
  font-size: 0.99rem;
  font-style: bold;
  color: #9698a6;
  -webkit-transition: color 350ms ease-in-out;
  transition: color 350ms ease-in-out;
}

.header__link a:not(:last-child) {
  margin-right: 32px;
}

.header__link a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: #000b76;
  opacity: 0;
  -webkit-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
}

.header__link a:hover {
  font-style: bold;
  color: #2d314d;
}

.header__link a:hover::before {
  opacity: 1;
}

.header__login {
  font-size: 1.3rem;
  margin-left: 60px;
  margin-right: 20px;
}

.header__login:hover {
  background: #000b76;
}

.header__register {
  font-size: 1.3rem;
  margin-right: 50px;
  -webkit-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
}

.header__register:hover {
  background: #000b76;
}

.hero {
  background-color: #fafafa;
}

@media (min-width: 64em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__image {
  position: relative;
  background-image: url(../../assets/blob.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 19rem;
}

@media (min-width: 40em) {
  .hero__image {
    min-height: 35rem;
    background-position: center 50%;
  }
}

@media (min-width: 64em) {
  .hero__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 38rem;
    background: none;
  }
}

.hero__image::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url(../../assets/mockups.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 64em) {
  .hero__image::after {
    width: 115%;
    height: 117%;
    background-size: 105%;
    background-position: center 190%;
    padding: 25.5rem;
  }
}

.hero__image::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url(../../assets/blob.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (min-width: 40em) {
  .hero__image::before {
    background-size: 92%;
  }
}

@media (min-width: 64em) {
  .hero__image::before {
    height: 105%;
    width: 105%;
  }
}

.hero__content {
  text-align: center;
}

@media (min-width: 64em) {
  .hero__content {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

.hero__content h1 {
  font-weight: 395;
  color: #2d314d;
  font-size: 2.7rem;
  line-height: 1.4;
  margin-bottom: 1.7rem;
}

@media (min-width: 64em) {
  .hero__content h1 {
    font-size: 3.3rem;
  }
}

.hero__content p {
  line-height: 1.6;
  font-weight: 295;
  font-size: 1rem;
  color: #2d314d;
  margin-bottom: 2.3rem;
}

.hero__register:hover {
  background-color: #000b76;
}

@media (min-width: 64em) {
  .services__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.services__item {
  padding: 1rem;
}

@media (min-width: 64em) {
  .services__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.services__image {
  width: 20%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */