// functional scss style
@import "variables";
@import "mixins";
@import "transitionAnim";

// components scss styles
@import "globals";
@import "header";
@import "responsiveBody";
@import "services";
@import "blogs";
@import "footer";
